body {
	font-family: "Source Code Pro", monospace;
}

h1 {
	text-align: center;
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 60px;
}

main {
	display: flex;
	justify-content: center;
	min-width: 940px;
}

#grid-container {
	display: grid;
	width: 600px;
	min-width: 600px;
	height: 600px;
	border: 2px solid #000000;
}

.grid-item {
	border: 1px solid #000000;
}

#settings {
	margin-left: 50px;
}

h6 {
	font-size: 20px;
	font-weight: 500;
}

.settings-button {
	font-family: "Source Code Pro", monospace;
	font-size: 20px;
	font-weight: 500;
	border: 2px solid #000000;
	background-color: #ffffff;
	padding: 10px 20px;
	border-radius: 10px;
}

.settings-button:hover {
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}